<!doctype html>
<html>
<head>
  <title>Welcome to Madlibs!</title>
</head>
<body>

<h1>Madlibs</h1>

<form action="/madlib" method="GET">
  <label for="person-input">Select a person:</label> 
  <input type="text" name="person" id="person-input">
  <p></p>

  <label for="color-input">Select a color:</label>
  <input type="text" name="color" id="color-input">
  <p></p>

  <label for="noun-input">Select a noun:</label>
  <input type="text" name="noun" id="noun-input">
  <p></p>

  <label for="adjective-input">Select an adjective:</label>
  <input type="text" name="adjective" id="adjective-input">
  <p></p>

  <input type="submit">

</form>

</body>
</html>
