<!doctype html>
<html>
<head>
  <title>Welcome to Madlibs!</title>
</head>
<body>

<h1>Madlibs</h1>

<form action="/madlib" method="GET">
  <label for="person-input">Enter a person:</label> 
  <input type="text" name="person" id="person-input">
  <p></p>

  <p>Select a color:
  <label for="color-input">Blue</label>
  <input type="checkbox" name="colors" value="blue" id="color-input">

  <label for="color-input">Orange</label>
  <input type="checkbox" name="colors" value="orange" id="color-input">

  <label for="color-input">Green</label>
  <input type="checkbox" name="colors" value="green" id="color-input">

  <label for="color-input">Purple</label>
  <input type="checkbox" name="colors" value="purple" id="color-input">
  </p>

  <label for="noun-input">Enter a noun:</label>
  <input type="text" name="noun" id="noun-input">
  <p></p>

  <p>Select an adjective:
  <label for="adjective-input">Minty</label>
  <input type="radio" name="adjective" value="minty" id="adjective-input">
  
  <label for="adjective-input">Tangy</label>
  <input type="radio" name="adjective" value="tangy" id="adjective-input">

  <label for="adjective-input">Fluffy</label>
  <input type="radio" name="adjective" value="fluffy" id="adjective-input">

  <label for="adjective-input">Melodic</label>
  <input type="radio" name="adjective" value="melodic" id="adjective-input">
  </p>

  <input type="submit">

</form>

</body>
</html>
